{% extends "base.html" %} {% block content %}

<h2> Guide for using this website </h2>

<h4> /update </h4>
<p> <a href="https://flask-samperiodictable.herokuapp.com/update"> Use this page to update the name of an element. </a>
</p>

<h4> /clean </h4>
<p> <a href="https://flask-samperiodictable.herokuapp.com/clean">Use this page to remove all descriptions from all elements. </a> </p>

<h4> /input </h4>
<p> <a href="https://flask-samperiodictable.herokuapp.com/input">Use this page to initialise and input new elements into the data base. </a></p>

{% endblock %}